@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
    width: 5px;
}

html::-webkit-scrollbar{
        display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hover-1 {
    background: linear-gradient(rgb(223, 79,62) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.5s, background-position 0s;
}
.hover-1:hover {
    --p: 100%;
    color: #fff;
}